<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89330070964-3gikiqtc58d85qnfvfftjkkgdmmmchuo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89330070964-3gikiqtc58d85qnfvfftjkkgdmmmchuo</string>
	<key>API_KEY</key>
	<string>AIzaSyBnACWGNGCh0je6GuZqQXce969vwEWD29k</string>
	<key>GCM_SENDER_ID</key>
	<string>89330070964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>prueba.bookNews</string>
	<key>PROJECT_ID</key>
	<string>libros-ee091</string>
	<key>STORAGE_BUCKET</key>
	<string>libros-ee091.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89330070964:ios:501d70b5b67d6c1a02eee1</string>
	<key>DATABASE_URL</key>
	<string>https://libros-ee091-default-rtdb.firebaseio.com</string>
</dict>
</plist>